[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
pandas = "*"
numpy = "*"
requests = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
